.search-no-results[data-v-0248ae1f]{padding:0}.search-no-results-title[data-v-0248ae1f]{color:var(--text-primary);text-align:left;margin:24px 24px 0 0;font-size:28px;font-weight:600;line-height:36px}
